
/*=============== Switch Button Style (Custom) ============ */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E7E7E7;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-slider.active {
    background-color: #000FF0 !important;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch-slider {
    background-color: #DEE0E1;
}

input:focus + .switch-slider {
    box-shadow: 0 0 1px #DEE0E1;
}

input:checked + .switch-slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.switch-slider.round {
    border-radius: 34px;
}

.switch-slider.round:before {
    border-radius: 50%;
}

.integration {
    background: #F9F9F9;
    padding: 40px;
    transition: 0.5s ease-in-out;
    min-height: 290px;

    .title {
        font-size: 1.25rem;
        color: #17171A;
        font-weight: 600;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .desc {
        color: #0F0F11;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 25px;
    }

    &:hover {
        background: #FFE4DC;
    }
}